@media screen and (max-width: 600px) {

    .pic img{
        width: 100px;
        height: 100px;
    }
}


body{
    background-color: rgb(138, 183, 198);
}


ul li {
    list-style: none;

}

.content{
    background-color: rgb(190, 210, 217);
    width: 75%;
    height: 50vh;
    border-radius: 3vh;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 4px 0 rgb(129, 128, 128), 0 6px 20px 0 rgb(129, 128, 128);
}
.info{
    
    margin-top: 40px;
    float: left;
    
}

.update li{
    margin-top: 20px;
}

.info li a{
    text-decoration: none;
    border: solid aliceblue 2px;
    padding: 4px 6px;
    border-radius: 5px;
    background-color: aliceblue;
    color: black;
}
img{
    width: 250px;
    height: 250px;
    border-radius: 3vh;
}
.pic{
    
    position:relative;
    float: right;
    
}
li{
    padding-bottom: 5px;
}

.buttons {
    height: 5vh;
    width: 100%;
    background-color: aquamarine;
    
}
.buttons h1{
    width: auto;
}
.buttons ul li, .buttons h1{
    display: inline;
    text-decoration: none;  
    
   
}
.buttons ul {
    margin-top: 10px;
    width: auto;
    position:relative;
    float: right;
}

.buttons ul li a{
    margin-right: 5px;
    text-decoration: none;
    border: solid aliceblue 2px;
    padding: 4px 6px;
    border-radius: 5px;
    background-color: aliceblue;
    color: black;
   
}