body{
    background-color: antiquewhite;
}


ul li {
    list-style: none;
}

#content{
    background-color: burlywood;
    border: solid black 2px;
    margin: auto;
    padding: 5px;
}

#buttons li{
    background-color: gray;
    border: solid black 1px;
}